<launch>

  <arg name="debug" default="false" />

  <!--<remap from="joint_states" to="jaco/joint_states"/>-->

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find vrep_jaco_moveit)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find vrep_jaco_moveit)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


</launch>
