<launch>

  <remap from="joint_states" to="vrep/joint_states"/>

  <rosparam command="load" file="$(find vrep_jaco_moveit_config)/config/joint_names.yaml"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">[/joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find vrep_jaco_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="pipeline" value="ompl"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find vrep_jaco_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find vrep_jaco_moveit_config)/launch/moveit.rviz"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find vrep_jaco_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="robot_description" value="jaco"/>
  </include>

</launch>
