<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find jaco_description)/urdf/jaco.urdf.xacro'"/>
  <param name="robot_description_semantic" textfile="$(find vrep_jaco_moveit)/config/jaco.srdf" />
  <param name="joint_state_control_topic" value="jaco/joint_control"/>
  <param name="publish_joint_states_topic" value="jaco/joint_states"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    <remap from="joint_states" to="jaco/joint_states"/>
    <param name="publish_frequency" type="double" value="100.0"/>
  </node>
</launch>
