<?xml version="1.0"?>
<launch>

  <arg name="casadi_path" default="/opt/casadi-linux-py27-v3.4.5-64bit"/>
  <arg name="use_odom" value="true"/>

  <node pkg="teleop_msg_publisher" type="teleop_msg_publisher.py" name="teleop_msg_publisher"  output="screen">
    <param name="casadi_path" value="$(arg casadi_path)"/>
    <param name="use_odom" value="$(arg use_odom)"/>
  </node>

</launch>
